{% extends 'index.html' %}

{% block content %}

<div class="card">
   
    <main class="content-wrap">
      <div style="margin-top: 10px; margin-bottom: 10px; position: relative;">
        <a href="javascript:void(0);" onclick="history.back();" class="btn btn-secondary" style="position: absolute; top: 0; right: 0;">
          <i class="fas fa-arrow-left"></i> Retour
      </a>
        <h2>Ajouter une nouvelle ressource au projet</h2>
        
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-row">
            <div class="col-md-3 mb-3">
              <label for="{{ form.title.id_for_label }}">Titre du document</label>
              {{ form.title }}
            </div>
             
            <div class="col-md-3 mb-3">
              <label for="{{ form.type.id_for_label }}">Type</label>
              {{ form.type }}
            </div>
           
           
           </div>


          <div class="form-row">
           
            <div class="col-md-3 mb-3">
              <label for="{{ form.file.id_for_label }}">Fichier</label>
              {{ form.file }}
            </div>

            <div class="col-md-3 mb-3">
              <label for="{{ form.link.id_for_label }}">Lien </label>
              {{ form.link }}
            </div>
          </div>
        
          <div class="form-row">
            <div class="form-group">
                <label for="{{ form.desc.id_for_label }}" id="id_desc">Description</label>
                {{ form.desc }}
              </div>

              
              
          </div>
          <button type="submit" class="btn btn-primary">Ajouter une ressource</button>   
         </form>
      </main>
</div>
  

{% endblock %}
