{% extends 'index.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <!-- Partie gauche avec le formulaire -->
      <div class="col-md-6">
        <h2 class="text-center">Business Model Canva </h2>
        <P>Remplissez votre business model canva:</P>
        <form method="post" class="needs-validation" novalidate action="{% url 'business_model' project.id %}">
          {% csrf_token %}
          <div class="mb-3" >
<strong>Segment client:</strong>            
{{ form.segment_client }}
            <div class="invalid-feedback">
              {{ form.segment_client.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Proposition de valeur:</strong>                        
            {{ form.proposition_de_valeur }}
            <div class="invalid-feedback">
              {{ form.proposition_de_valeur.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Canaux de distribution:</strong>                        {{ form.cannaux_de_distribution }}
            <div class="invalid-feedback">
              {{ form.cannaux_de_distribution.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Relation client:</strong>                        {{ form.relation_client }}
            <div class="invalid-feedback">
              {{ form.relation_client.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Source de revenus:</strong>                        {{ form.source_de_revenus }}
            <div class="invalid-feedback">
              {{ form.source_de_revenus.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Ressources clés:</strong>                        {{ form.ressources_cles }}
            <div class="invalid-feedback">
              {{ form.ressources_cles.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Activités clés:</strong>                        {{ form.activites_cles }}
            <div class="invalid-feedback">
              {{ form.activites_cles.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Partenaires clés:</strong>                        {{ form.partenaires_cles }}
            <div class="invalid-feedback">
              {{ form.partenaires_cles.errors }}
            </div>
          </div>
          <div class="mb-3">
            <strong>Structure des couts:</strong>                        {{ form.structure_des_couts }}
            <div class="invalid-feedback">
              {{ form.structure_des_couts.errors }}
            </div>
          </div>          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>

      <!-- Partie droite avec les résultats -->
      <div class="col-md-6">
        <h2 class="text-center">Mes informations </h2>
        <div class="card mb-3">
          <div class="card-body">
            <P> <strong> Segment client:</strong> {{ project.businessmodelcanvas.segment_client }} </P> 
               
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
           <p><strong> Proposition de valeur ajoutée:  </strong>{{ project.businessmodelcanvas.proposition_de_valeur }}</p>    

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
           <p><strong> Canaux de distributions:</strong>{{ project.businessmodelcanvas.cannaux_de_distribution }} </p>    

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
           <p><strong>Relation client:</strong>{{ project.businessmodelcanvas.relation_client }} </p>    

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <p><strong>Sources de revenus:</strong>{{ project.businessmodelcanvas.source_de_revenus }}    
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
           <p> <strong>Ressources clés:</strong>{{ project.businessmodelcanvas.resource_cles }}    </p> 

          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <p><strong>Activités clés:</strong>{{ project.businessmodelcanvas.activites_cles }}    </p>

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <p><strong>Partenaires clés:</strong>{{ project.businessmodelcanvas.partenaires_cles }}    </p>

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
          <p><strong>Structure des couts:</strong>{{ project.businessmodelcanvas.structure_des_couts }}    
          </p>  
          </div>
        </div>

        <!-- Ajoutez autant de cartes que nécessaire -->
      </div>
    </div>
  </div>
{% endblock %}
