{% extends 'index.html' %}

{% block content %}


<div class="container-fluid px-4">
    <h2 class="mt-4">PHASES DE VALIDATION DU PROJET</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"> Ce sont les phases que le porteur de projet est censé valider pour mener a bien son projet a Sira Labs. Nous avons la phase d'idéation, la phase de prototypage, la phase de validation de son modele_economiqueou la phase de test marché et la phase d'entrée sur le marché.
        </li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                     <H2> IDEATION </H2></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <td><a href="{% url 'validate_resources' project_id=project_id phase='ideation' %}" class="btn btn-outline-warning">Voir les ressources</a></td>

                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"> <H3>PROTOTYPAGE</H3></div>
                
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <td><a href="{% url 'validate_resources' project_id=project_id phase='prototypage' %}" class="btn btn-outline-warning">Voir les ressources</a></td>

                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"> <H3> MODELE ECONOMIQUE </H3></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <td><a href="{% url 'validate_resources' project_id=project_id phase='modele_economique' %}" class="btn btn-outline-warning">Voir les ressources</a></td>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>

            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"> <H3> ENTREE SUR LE MARCHE </H3></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <td><a href="{% url 'validate_resources' project_id=project_id phase='entree_marche' %}" class="btn btn-outline-warning">Voir les ressources</a></td>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
  

</div>


{% endblock %}
