{% extends 'index.html' %}

{% block content %}

<div class="container-fluid px-4">
    <div class="row mb-4" >
        <div class="col-md-6" style="margin-top: 20px;">
            <a href="javascript:void(0);" onclick="history.back();" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
        </div>
        <div class="col-md-6 text-end" style="margin-top: 20px;">
          
            <p>Progression : {{ total_progression }}%</p>
                    
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span style="font-size:30px;text-align:center;" class="mb-4">Bienvenue dans le projet  <strong> <em style="color: #191974;">{{ project.name }}</em> </strong></span> <br>
            <span style="text-decoration: underline;">Description:</span> {{ project.desc }}
   <br> <br> Voici les phases que le porteur de projet est censé valider pour mener à bien son projet chez Sira Labs. Les phases incluent l'idéation, le prototypage, la validation du modèle économique, le test marché et l'entrée sur le marché.</p>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-white" style="background-color: #191974;">
                <div class="card-body">
                    
                    <p style="font-size: 16px;"> IDÉATION</p>
                </div>
                <div class="card-footer text-white">
                    <a class="small text-white stretched-link" href="{% url 'validate_resources' project_id=project_id phase='ideation' %}">Voir les ressources</a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white" style="background-color: #191974;">
                <div class="card-body">
                    <p style="font-size: 16px;"> PROTOTYPAGE</p>
                </div>
                <div class="card-footer text-white">
                    <a class="small text-white stretched-link" href="{% url 'validate_resources' project_id=project_id phase='prototypage' %}">Voir les ressources</a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white" style="background-color: #191974;">
                 <div class="card-body">
                    <p style="font-size: 16px;"> MODELE ECONOMIQUE</p>

                </div>
                <div class="card-footer text-white">
                    <a class="small text-white stretched-link" href="{% url 'validate_resources' project_id=project_id phase='modele_economique' %}">Voir les ressources</a>

                </div>
            </div>
            
        </div>   
        <div class="col-md-3">
            <div class="card text-white" style="background-color: #191974;">
                <div class="card-body">
                    <p style="font-size: 16px;"> ENTREE SUR MARCHE</p>
                </div>
                <div class="card-footer text-white">
                    <a class="small text-white stretched-link" href="{% url 'validate_resources' project_id=project_id phase='entree_marche' %}">Voir les ressources</a>

                </div>
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Tâches du projet <strong>{{ project.name }}</strong></h3>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>En attente</h4>
                            <ul class="list-group">
                                {% for task in project.tasks.all %}
                                    {% if task.status == 'pending' %}
                                        <li class="list-group-item">
                                            <i class="far fa-circle" style="color: grey;"></i>
                                            {{ task.name }} 
                                    </li>
                                        
                                    {% endif %}
                                {% empty %}
                                    <li class="list-group-item">Aucune tâche en attente.</li>
                                {% endfor %}
                                {% if user.is_authenticated %}
                            
                            {% endif %}
                            </ul>
                        </div>
    
                        <div class="col-md-4">
                            <h4>En cours</h4>
                            <ul class="list-group">
                                {% for task in project.tasks.all %}
                                    {% if task.status == 'in_progress' %}
                                        <li class="list-group-item">                  
                                            <i class="fas fa-spinner" style="color: orange;"></i>
                                            {{ task.name }}</li>
                                    {% endif %}
                                {% empty %}
                                    <li class="list-group-item">Aucune tâche en cours.</li>
                                {% endfor %}
                            </ul>
                        </div>
    
                        <div class="col-md-4">
                            <h4>Terminé</h4>
                            <ul class="list-group">
                                {% for task in project.tasks.all %}
                                    {% if task.status == 'completed' %}
                                        <li class="list-group-item">                  
                                            <i class="fas fa-check-circle" style="color: green;"></i>
                                            {{ task.name }}</li>
                                    {% endif %}
                                {% empty %}
                                    <li class="list-group-item">Aucune tâche terminée.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                     <h3>Ressourcess du projet <strong>{{ project.name }}</strong></h3>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>AUTEUR DU DOCUMENT</th>
                                <th>TITRE DU DOCUMENT</th>
                                <th>LIEN DU DOCUMENT</th>
                                <th>DATE DE CREATION</th>
                                <th>PHASE DU PROJET</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resource in resources %}
                            <tr>
                                <td>{{ resource.author }}</td>
                                <td>{{ resource.title }}</td>
                                <td>{{ resource.file }}</td>
                                <td>{{ resource.created_at }}</td>
                                <td>{{ resource.validation_phase }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Aucune ressource trouvée.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

