{% extends 'index.html' %}

{% block content %}

<div class="container-fluid px-4">
    <div class="row mb-4" >
        <div class="col-md-6" style="margin-top: 20px;">
            <a href="javascript:void(0);" onclick="history.back();" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
        </div>
        <div class="col-md-6 text-end" style="margin-top: 20px;">
            <a href="{% url 'create_project' %}" class="btn btn-success">
                <i class="bi bi-plus"></i> Voir l'évolution
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">PHASES DE VALIDATION DE <strong> {{ project.name }} </strong></h3>
            <p class="lead mb-4">Ce sont les phases que le porteur de projet est censé valider pour mener à bien son projet chez Sira Labs. Les phases incluent l'idéation, le prototypage, la validation du modèle économique, le test marché et l'entrée sur le marché.</p>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    
                    <p style="font-size: 16px;"> IDÉATION</p>
                </div>
                <div class="card-footer text-white">
                    <a href="{% url 'validate_resources' project_id=project_id phase='ideation' %}" class="btn btn-outline-light">Voir les ressources</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <p style="font-size: 16px;"> PROTOTYPAGE</p>
                </div>
                <div class="card-footer text-white">
                    <a href="{% url 'validate_resources' project_id=project_id phase='prototypage' %}" class="btn btn-outline-light">Voir les ressources</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger text-white">
                 <div class="card-body">
                    <p style="font-size: 16px;"> MODELE ECONOMIQUE</p>

                </div>
                <div class="card-footer text-white">
                    <a href="{% url 'validate_resources' project_id=project_id phase='modele_economique' %}" class="btn btn-outline-light">Voir les ressources</a>
                </div>
            </div>
            
        </div>   
        <div class="col-md-3">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <p style="font-size: 16px;"> ENTREE SUR MARCHE</p>
                </div>
                <div class="card-footer text-white">
                    <a href="{% url 'validate_resources' project_id=project_id phase='prototypage' %}" class="btn btn-outline-light">Voir les ressources</a>
                </div>
            </div>
        </div>
     </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>PROJET <strong> {{ project.name }} </strong></h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.desc }}</p>
                    <p>Progression : {{ progress }}%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"  aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-header">
                    <h3>Tâches du projet<strong> {{ project.name }} </strong></h3>
                </div>
                
                    <ul>
                    {% for task in project.tasks.all %}
                        <li>{{ task.name }} - {{ task.status }}</li>
                    {% empty %}
                        <li>Aucune tâche trouvée.</li>
                    {% endfor %}
                    </ul>
                    
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i> RESSOURCES DU PROJET
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>AUTEUR DU DOCUMENT</th>
                                <th>TITRE DU DOCUMENT</th>
                                <th>LIEN DU DOCUMENT</th>
                                <th>DATE DE CREATION</th>
                                <th>PHASE DU PROJET</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resource in resources %}
                            <tr>
                                <td>{{ resource.author }}</td>
                                <td>{{ resource.title }}</td>
                                <td>{{ resource.file }}</td>
                                <td>{{ resource.created_at }}</td>
                                <td>{{ resource.validation_phase }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Aucune ressource trouvée.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
