{% extends 'index.html' %}

{% block content %}
<style>
 
  .task_faire {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  .task_cours {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  .task_fin {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #339900;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }

  .task:hover {
    background-color: #f8f8f8;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
</style>


<section class="vh-100 gradient-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <h2 style="text-align: center;">La liste des tâches</h2>
        <div class="card">
          <div class="card-body p-5">
            <a href="{% url 'create_task' project.id %}"  class="btn text-white" style="background-color: #339900;" ><i class="bi bi-plus"></i> Ajouter une tâche</a>
            <div >
          <div >
            <div class="column">
              <h4>Tâches à Faire</h4>
              {% for task in pending_tasks %}
                <div class="task_faire"  >
                  <i class="far fa-circle" style="color: grey;"></i>

                  <a href="{% url 'task_detail' task.id project.id %}"> {{ task.name }}</a>
                
                
                </div>
              {% endfor %}
            </div>
          
            <div class="column">
              <h4>Tâches en Cours</h4>
              {% for task in ongoing_tasks %}
                <div class="task_cours" onclick="handleTaskClick('{{ task.id }}')">
                  <i class="fas fa-spinner" style="color: orange;"></i>
                 <a href="{% url 'task_detail' task.id project.id %}">{{ task.name }}</a> 
                  
                </div>
              {% endfor %}
            </div>
          
            <div class="column">
              <h4>Tâches Terminées</h4>
              {% for task in completed_tasks %}
                <div class="task_fin" onclick="handleTaskClick('{{ task.id }}')">
                  <i class="fas fa-check-circle" style="color: green;"></i>
                  <a href="{% url 'task_detail' task.id project.id %}">{{ task.name }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
            <div style="clear:both;"></div>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script>
  function handleTaskClick(taskId) {
    console.log(`Tâche ${taskId} cliquée`);
  }
</script>

{% endblock %}
